/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Criando variáveis */

:root {
    /* -- <nome da variável> : o que significa */
    --azul: rgba(79, 79, 206, 0.562)
}

/* General */

.destaque {
    color: var(--azul);
}

body {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
  }

p{
    font-size: 24px;
    line-height: 2;
    letter-spacing: 1px;
}

h1 {
    font-size: 40px;
    line-height: 2;
    letter-spacing: 1px;
    color: orange;
}

h2 {
    font-size: 30px;
    line-height: 2;
    letter-spacing: 1px;
    color: orange;
}

li {
    width: 1000px;
    font-size: 24px;
    line-height: 2;
    letter-spacing: 1px;
    display: inline-block;
    text-align: center; 
    margin: 0 auto;
}


